<!DOCTYPE html>
<html lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <!-- header fragment -->
    <th:block th:replace="~{fragments/header :: headerFragment}"></th:block>

    <!-- content -->
    <th:block layout:fragment="content"></th:block>

    <!-- footer fragment -->
    <th:block th:replace="~{fragments/footer :: footerFragment}"></th:block>
</body>
</html>