<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/board_layout}">
        
<div layout:fragment="content">
    <div class="formWrapper">
        <form class="form-control" id="loginForm" name="userDTO" action="/user/Ajax/loginRequest.do" method="POST">
            ID <input type="text" name="USER_ID" maxlength="20">
            PW <input type="password" name="USER_PW" maxlength="32">
            <input type="checkbox" name="remember-me">
            <label for="remember-me">Remember me</label>
            <button type="submit" style="margin-top: 12px;">로그인</button>
        </form>
    </div>

    <script defer th:inline="javascript">
        /*<![CDATA[*/
        document.addEventListener('DOMContentLoaded', (e) => {
            console.log(/*[[${exception}]]*/);
            if (/*[[${error}]]*/) alert(/*[[${exception}]]*/);
        });
        /*]]>*/
        
        /*
        document.querySelector("#submitLogin").addEventListener('click', (e) => {
            fetch('/user/Ajax/loginRequest.do', {
                method: 'POST',
                body: new FormData(document.getElementById('loginForm'))
            }).then(response => {
                if (!response.ok) throw '문제가 발생했습니다.';
                return response.json();
            }).then(res => {
                if (res.result == 'fail') throw res.msg;
                location.href = '/';
            }).catch(err => alert(err));
        });
        */
    </script>
</div>
</html>