<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/board_layout}">

    <div layout:fragment="content">
        <h1>공지사항리스트 목록입니다.</h1>
        <div class="tableWrapper">
            <table class="table">
                <thead>
                    <tr>
                        <th>HI</th>
                        <th>HELLO</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>hi</td>
                        <td>hello</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</body>
</html>