<html lang="ko" xmlns:th="http://thymeleaf.org">
<!-- HEADER FRAGMENT -->
<div th:fragment="bannerFragment">
    <!-- Banner -->
    <section id="banner">
        <div class="content">
            <header>
                <h1>Hello Universe</h1>
                <p>This website is for ONLY TEST</p>
            </header>
            <!--
            <ul class="actions">
                <li><a href="#" class="button big">Learn More</a></li>
            </ul>
            -->
        </div>
        <span class="image object">
            <img src="basic/img/pic10.jpg" alt="" />
        </span>
    </section>
</div>
</html>